@use "./base/vars";
@use "./base/mixins";
@use "./base/reset";
@use "./base/fonts";
@use "./base/select2";

body {
  @extend %Inter-400;
  font-size: 16px;
  color: vars.$color-text-light;
}

main {
  background: linear-gradient(
      to bottom,
      rgba(0, 209, 255, 0.4) 0%,
      transparent 40%
    ),
    linear-gradient(135deg, #00b2ff 0%, #3d5dff 48%, #8000ff 100%),
    linear-gradient(to bottom, transparent 80%, rgba(0, 93, 142, 0.8) 100%);
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  margin: 0 auto;
  max-width: vars.$container-width;
  padding: vars.$container-padding;
  @include mixins.max-320 {
    padding-inline: 10px;
  }
}
.header {
  position: relative;
  &__container {
    margin: 0 auto;
    padding-inline: vars.$container-padding;
    width: 100%;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 16px 10px;
    align-items: center;
  }
  &__logo {
    border-right: 1px solid vars.$color-border-decor;
  }
  &__nav--list {
    display: flex;
    column-gap: 20px;
    @include mixins.max-740 {
      display: none;
    }
  }
  &__nav-icon {
    color: vars.$color-text-btn;
    opacity: 0;
    user-select: none;
    transition: opacity 0.3s ease-in-out;
  }
  &__nav-toggle {
    font-size: 14px;
    color: vars.$color-text-accent;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1.428;
    letter-spacing: 0.15px;
    @include mixins.hover {
      color: vars.$color-text-btn;
      .header__nav-icon {
        opacity: 1;
      }
    }
  }
  &__nav-icon {
    opacity: 0;
    color: vars.$color-text-btn-60;
  }
  &__nav-btn {
    position: relative;
    display: none;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
    border-radius: 8px;
    touch-action: manipulation;
    &:active {
      transform: scale(0.85);
      opacity: 0.8;
    }
    span:nth-child(1) {
      position: absolute;
      top: 16px;
      right: 0;
      width: 32px;
      height: 2px;
      display: block;
      background-color: black;
      border-radius: 8px;
    }
    span:nth-child(2) {
      position: absolute;
      bottom: 16px;
      right: 0;
      width: 26px;
      height: 2px;
      display: block;
      background-color: black;
      border-radius: 8px;
    }
    @include mixins.hover {
      background-color: vars.$color-bg-accept;
    }
    @include mixins.focus {
      background-color: vars.$color-bg-accept;
    }
    @include mixins.max-740 {
      display: inline-block;
    }
  }
}
.contact-us {
  &_container {
    max-width: vars.$container-width;
    padding: vars.$container-padding;
    margin: 0 auto;
  }
  &_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    max-width: 600px;
    margin: 0 auto;
  }
  &_title {
    text-align: left;
    @extend %Questrial-400;
    margin-bottom: 30px;
    line-height: 1.2;
    align-self: baseline;
  }
  &_toggle {
    @extend %Questrial-400;
    color: vars.$color-text-btn;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    border-radius: 120px;
    background-color: vars.$color-bg-light;
    transition: background-color 0.3s ease-in-out;
    @include mixins.hover {
      background-color: vars.$color-bg-alt;
    }
    @include mixins.focus {
      background-color: vars.$color-bg-alt;
    }
  }
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  z-index: 1000;
  border-radius: 48px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
  transform: translate(-50%, -50%);
  overflow-y: auto;
  &_container {
    padding: 40px 40px 60px 40px;
  }
  &_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &_prev {
    width: 64px;
    height: 64px;
    border-radius: 8px;

    @include mixins.hover {
      background-color: vars.$color-bg-btn;
    }
    @include mixins.focus {
      background-color: vars.$color-bg-btn;
    }
  }
  &_close {
    position: relative;
    width: 64px;
    height: 64px;
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
    border-radius: 8px;
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 35px;
      height: 2px;
      background-color: vars.$color-text-dark;
      transform: translate(-50%, -50%);
    }
    span:first-child {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    span:last-child {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    @include mixins.hover {
      background-color: vars.$color-bg-btn;
    }
    @include mixins.focus {
      background-color: vars.$color-bg-btn;
    }
  }
  &_title {
    text-align: center;
    font-size: 17px;
    line-height: 1.2;
    color: vars.$color-text-dark;
    margin-bottom: 8px;
  }
  &_box {
    display: grid;
    gap: 20px 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
  }
  &_descr {
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
    color: vars.$color-text-dark;
    @extend %Inter-300;
    margin-bottom: 30px;
  }
  &_input {
    color: vars.$color-text-dark-20;
    padding: 8px 8px 16px 8px;
    border-bottom: 1px solid vars.$color-text-dark-20;
    transition: color 0.3s ease;
    @include mixins.max-640 {
      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(3),
      &:nth-child(2) {
        grid-column: span 2;
      }
    }
    @include mixins.hover {
      color: vars.$color-text-dark;
    }
    @include mixins.focus {
      color: vars.$color-text-dark;
      border-bottom-color: vars.$color-bg-accent;
      &::placeholder {
        color: vars.$color-text-dark;
      }
    }
    &::placeholder {
      color: vars.$color-text-dark-20;
    }
  }
  &_half-input {
    grid-column: 1/2;
    @include mixins.max-640 {
      grid-column: span 2 !important;
    }
  }
  &_input-full {
    grid-column: span 2;
  }
  &_form-btn {
    padding: 20px 0;
    color: vars.$color-text-btn;
    background-color: vars.$color-bg-btn;
    width: 100%;
    border-radius: 120px;
    transition: background-color 0.3s ease;
    @include mixins.hover {
      background-color: vars.$color-bg-alt;
    }
    @include mixins.focus {
      background-color: vars.$color-bg-alt;
    }
  }
}
.set-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  z-index: 900;
  border-radius: 48px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
  transform: translate(-50%, -50%);
  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 60px 40px;
  }
  &_accept {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: vars.$color-bg-accept;
    margin-bottom: 40px;
    &::after {
      content: "";
      position: absolute;
      background: url(../img/icons/accept.svg) no-repeat center;
      width: 20px;
      height: 16px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &_title {
    font-size: 17px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  &_desc {
    @extend %Inter-300;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 60px;
  }
  &_btn {
    letter-spacing: 5%;
    color: vars.$color-text-btn;
    background-color: vars.$color-bg-btn;
    padding: 20px 0;
    width: 100%;
    border-radius: 120px;
    transition: background-color 0.3s ease;
    @include mixins.hover {
      background-color: vars.$color-bg-alt;
    }
    @include mixins.focus {
      background-color: vars.$color-bg-alt;
    }
  }
}
.about-us {
  margin-bottom: 60px;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    @include mixins.max-640 {
      row-gap: 40px;
    }
  }
  &__content {
    @include mixins.max-640 {
      grid-column: span 2;
    }
  }
  &__img {
    float: left;
    margin-right: 10px;
    margin-bottom: 4px;
    @include mixins.max-1064 {
      width: 241px;
      height: 542px;
    }
    @include mixins.max-640 {
      width: auto;
      height: 442px;
    }
    @include mixins.max-320 {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  &__title {
    margin-bottom: 15px;
    font-size: 32px;
  }
  &__desc {
    line-height: 1.25;
    &:first-of-type {
      margin-bottom: 20px;
    }
  }
  &__desc + .about-us__desc {
    margin-bottom: 20px;
  }
}
.cards {
  padding-bottom: 60px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    @include mixins.max-1063 {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mixins.max-540 {
      grid-template-columns: repeat(1, 300px);
      justify-content: center;
    }
  }
}
.card {
  background-color: vars.$color-bg-light;
  color: vars.$color-text-dark;
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5) {
    @include mixins.min-540 {
      grid-column: span 2;
    }
    .card__img {
      margin-bottom: 20px;
    }
    .card__text {
      padding: 10px 10px 16px 20px;
    }
  }
  &__img {
    margin-bottom: 5px;
    width: 100%;
  }
  &__text {
    word-break: break-word;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px 10px 15px 10px;
  }
  &__title {
    @extend %Inter-500;
    font-size: 15px;
    line-height: 100%;
  }
  &__numbers {
    @extend %Inter-600;
    font-size: 43px;
  }
  &__desc {
    @extend %InterLightItalic-300;
    line-height: 1.4;
    font-size: 15px;
  }
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: vars.$color-bg-alt;
  &__top {
  }
  &__nav {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    column-gap: 12px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__title {
    @extend %Roboto-700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.2px;
  }
  &__item {
    &:first-of-type:not(:last-of-type) {
      padding-top: 12px;
      padding-bottom: 8px;
    }
  }
  &__item + .footer__item {
    padding-bottom: 8px;
  }
  &__link {
    display: inline-block;
    @extend %Roboto-400;
    font-size: 14px;
    line-height: 1.28;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    @include mixins.hover {
      opacity: 0.5;
    }
    @include mixins.focus {
      outline: 2px solid vars.$color-border-decor;
      outline-offset: 0.125rem;
      opacity: 0.5;
    }
  }
  &__bottom {
    padding-top: 48px;
    margin-inline: 16px;
  }
  &__bottom-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    @include mixins.max-640 {
      column-gap: 40px;
    }
  }
  &__bottom-list {
    flex-wrap: wrap;
    display: flex;
    column-gap: 16px;
    @include mixins.max-540 {
      row-gap: 16px;
    }
  }
  &__bottom-item {
  }
  &__bottom-link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: vars.$color-bg-light;
    transition: opacity 0.3s ease-in-out;
    @include mixins.hover {
      opacity: 0.5;
    }
    @include mixins.focus {
      opacity: 0.5;
    }
  }
  &__bottom-captions {
    display: flex;
    column-gap: 20px;
    vertical-align: top;
    text-wrap: nowrap;
  }
  &__bottom-caption {
  }
  &__bottom-bottom {
  }
  &__bottom-copy {
    @extend %Roboto-500;
    font-size: 14px;
    line-height: 1.642;
  }
  &__bottom-desc {
    @extend %RobotoItalic-400;
    font-size: 12px;
    line-height: 1.142;
    opacity: 0.8;
  }
}
