<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <nav class="footer__nav">
                <div class="footer__column">
                    <ul class="footer__list">
                        <h2 class="footer__title">
                            Header 1
                        </h2>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Version</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Hour policy</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Pole left</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Know fastworks</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Left breakout</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Decisions a</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Incentivize</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Strategic</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Closing build</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column">
                    <ul class="footer__list">
                        <h2 class="footer__title">
                            Header 1
                        </h2>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Should pole</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Loss</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Crystallize</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Needle</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Shoulder sop</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Shoot creep</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Every</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Files client</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Native just</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Take while air</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column">
                    <ul class="footer__list">
                        <h2 class="footer__title">
                            Header 1
                        </h2>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Member organic sop</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Ipsum let
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Turn nail skulls
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Pain tent stop shark
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Start hop goto see high<br> product obviously. Just.
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Team
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Die optimize key
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Hands ballpark back-end group
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Crystallize
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Across who's asserts didn't will streamline.</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Incentivization please</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Responsible as recap data</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">They new this</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Caught streamline innovation</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Inclusion into not i'm</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Per for loop</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column">
                    <ul class="footer__list">
                        <h2 class="footer__title">
                            Header 1
                        </h2>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Later</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Red-flag</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Innovation</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Algorithm</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">On offline</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Discussions too we better</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column">
                    <ul class="footer__list">
                        <h2 class="footer__title">
                            Header 1
                        </h2>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Stronger sop</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Reinvent domains manager</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Shelf-ware ui cadence</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Way give diligence</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">Important</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#!">What's</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom-top">
                <ul class="footer__bottom-list">
                    <li class="footer__bottom-item">
                        <a class="footer__bottom-link" href="#!">
                        </a>
                    </li>
                    <li class="footer__bottom-item">
                        <a class="footer__bottom-link" href="#!">
                        </a>
                    </li>
                    <li class="footer__bottom-item">
                        <a class="footer__bottom-link" href="#!">
                        </a>
                    </li>
                    <li class="footer__bottom-item">
                        <a class="footer__bottom-link" href="#!">
                        </a>
                    </li>
                    <li class="footer__bottom-item">
                        <a class="footer__bottom-link" href="#!">
                        </a>
                    </li>
                    <li class="footer__bottom-item">
                        <a class="footer__bottom-link" href="#!">
                        </a>
                    </li>
                </ul>
                <div class="footer__bottom-captions">
                    <p class="footer__bottom-caption">Cap 1</p>
                    <p class="footer__bottom-caption">Cap 2</p>
                </div>
            </div>
            <div class="footer__bottom-bottom">
                <p class="footer__bottom-copy">
                    Office ipsum you must be muted. Should impact canatics winning stronger 30,000ft ready to
                    offline place.
                </p>
                <p class="footer__bottom-desc">
                    Group practices take stop inclusion go done needle technologically. Data right pants creep sop
                    ask zoom. Economy a make previous bed feed feature if. Horse walk idea line lot loss catching
                    meeting call eye going marginalised we.
                </p>
            </div>
        </div>
    </div>
</footer>
</div>