<div class="wrapper">
    <header class="header">
        <div class="header__container">
            <div class="header__row">
                <img class="header__logo" src="./img/logo.svg" alt="Afterlogic">
                <nav class="header__nav">
                    <ul class="header__nav--list">
                        <li class="header__nav-item">
                            <a class="header__nav-toggle" href="#!">
                                Menu item 1
                                <svg class="header__nav-icon" width="10" height="6">
                                    <use xlink:href="./img/sprite.svg#arrow-down"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-toggle" href="#!">
                                Menu item 2
                                <svg class="header__nav-icon" width="10" height="6">
                                    <use xlink:href="./img/sprite.svg#arrow-down"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-toggle" href="#!">
                                Menu item 3
                                <svg class="header__nav-icon" width="10" height="6">
                                    <use xlink:href="./img/sprite.svg#arrow-down"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-toggle" href="#!">
                                Menu item 4
                                <svg class="header__nav-icon" width="10" height="6">
                                    <use xlink:href="./img/sprite.svg#arrow-down"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-toggle" href="#!">
                                Menu item 5
                                <svg class="header__nav-icon" width="10" height="6">
                                    <use xlink:href="./img/sprite.svg#arrow-down"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
                <button class="header__nav-btn">
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </header>