<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__row">
                <a class="header__logo" href="#!">
                    <img src="img/logo.svg" alt="logo">
                </a>
                <nav class="header__nav">
                    <ul class="header__nav--list">
                        <li class="header__nav-item">
                            <a class="header__nav-toggle" href="#!">
                                Menu item 1
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-toggle" href="#!">
                                Menu item 2
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-toggle" href="#!">
                                Menu item 3
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-toggle" href="#!">
                                Menu item 4
                            </a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-toggle" href="#!">
                                Menu item 5
                            </a>
                        </li>
                    </ul>
                </nav>
                <button class="header__nav-burger">
                    <span></span>
                    <span></span>
                </button>
            </div>
            <nav class="mobile mobile__nav">
                <ul class="mobile__nav--list">
                    <li class="mobile__nav-item">
                        <p class="mobile__nav-toggle">
                            Menu item 1
                        </p>
                        <svg class="mobile__nav-icon" width="10" height="6">
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                        <ul class="mobile__sub-list">
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 1</a>
                            </li>
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 2</a>
                            </li>
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mobile__nav-item">
                        <p class="mobile__nav-toggle">
                            Menu item 2
                        </p>
                        <svg class="mobile__nav-icon" width="10" height="6">
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                        <ul class="mobile__sub-list">
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 1</a>
                            </li>
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 2</a>
                            </li>
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mobile__nav-item">
                        <p class="mobile__nav-toggle">
                            Menu item 3
                        </p>
                        <svg class="mobile__nav-icon" width="10" height="6">
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                        <ul class="mobile__sub-list">
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 1</a>
                            </li>
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 2</a>
                            </li>
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mobile__nav-item">
                        <p class="mobile__nav-toggle">
                            Menu item 4
                        </p>
                        <svg class="mobile__nav-icon" width="10" height="6">
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                        <ul class="mobile__sub-list">
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 1</a>
                            </li>
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 2</a>
                            </li>
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mobile__nav-item">
                        <p class="mobile__nav-toggle">
                            Menu item 5
                        </p>
                        <svg class="mobile__nav-icon" width="10" height="6">
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                        <ul class="mobile__sub-list">
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 1</a>
                            </li>
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 2</a>
                            </li>
                            <li class="mobile__sub-item"><a class="mobile__sub-link" href="#!">SUBMENU ITEM 3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>