%Inter-300 {
  font-family: "Inter-Light", sans-serif;
  font-weight: 300;
}
%Inter-400 {
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
}
%InterLightItalic-300 {
  font-family: "Inter-LightItalic", sans-serif;
  font-weight: 300;
  font-style: italic;
}
%Inter-500 {
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
}
%Inter-600 {
  font-family: "Inter-Semibold", sans-serif;
  font-weight: 600;
}
%Questrial-400 {
  font-family: "Questrial-Regular", sans-serif;
  font-weight: 400;
}
%Roboto-400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}
%Roboto-500 {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 400;
}
%Roboto-300 {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
}
%RobotoItalic-400 {
  font-family: "Roboto-Italic", sans-serif;
  font-weight: 400;
  font-style: italic;
}
%Roboto-700 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 400;
}

$color-text-light: #ffffff;
$color-bg-light: #ffffff;
$color-bg-light-alt: #f6f6f6;
$color-text-dark: #000000;
$color-bg-accent: #ed11119d;
$color-text-dark-20: rgba(0, 0, 0, 0.2);
$color-text-accent: #00b2ff;
$color-text-btn: #005d8e;
$color-text-btn-60: #005c8e99;
$color-bg-btn: #d6f5ff;
$color-border-decor: #3790e2;
$color-bg-alt: #04132f;
$color-bg-alt-light: #f4fcff;
$color-bg--active: #e9f8ff;
$color-text-accept: #13450b;
$color-bg-accept: #c2ffc5;
$color-bg-submenu: #ceefff;
$container-padding: 0 20px;
$container-width: 1260px;
